body {
	text-align: center;
}

#map {
	height: 500px;
	width: 100%; 
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border-color: black;
	margin-right: auto;
	margin-left: auto;
}

nav {
	background-color: lightgoldenrodyellow;
	text-align: center;
	margin-bottom: 20px;
}

h1 {
	color: skyblue;
	font-family: 'Alegreya', serif;
	margin-bottom: 10px;
	text-align: center;
}

h4 {
	font-family: 'Lora', serif;
	text-align: center;
}

p {
	text-align: center;
	font-family: 'Lora', serif;
}
