


#map {
	height: 500px;
	width: 100%; 
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border-color: black;

}



nav{
	background-color: lightgoldenrodyellow;
}


header h1{
	right: 50%;
	text-align: center;
	color: skyblue;
	text-shadow: 1px 2px 1px;
	font-family: 'Alegreya', serif;
}

body{
	padding-top: 70px;
	text-align: center;
	font-family: 'Lora', serif;
}