#map {
	height: 500px;
	width: 70%; 
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border-color: black;
	margin-right: auto;
	margin-left: auto;
}

img{
	height: 20px;
	width: 20px;
}

/*#rightImage{
	float:right;
}

#leftImage{
	float:left;
}*/

nav{
	background-color: lightgoldenrodyellow;
	/*align-items: center;*/
}


h1{
	color: skyblue;
	font-family: 'Alegreya', serif;
	height: 20px;
}

h4{
	margin-top: 20px;
	font-family: 'Lora', serif;
}


